<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style/login.css">
</head>
  <body>
    <div class="login-page">
      <form action="/login" method="post">
        <fieldset class="form">
          <legend>LOG IN</legend>
          <input type="username" name='username' placeholder="User Name" required autofocus>
          <input type="password" name='password' placeholder="Password" required>
          <button type="submit">Log In</button>
        </fieldset>
      </form>
    </div>
    <div class="footer" style="">
      <div class="" style="left: 0; width: 60%; display:inline-block;">
        <b><i>Developed By M.A.K. Ripon (Email: ripon@fashionflashltd.com, Contact: +880 173 0056 531) | Version 1.2.1</i></b>
      </div>
      <div class="" style="position: fixed; right: 10px; display:inline-block">
        <b><i>©2017 JCL Group. All rights reserved</i></b>
      </div>
    </div>
  </body>
</html>
